<div class="content-block">
    <div class="dx-card wide-card panel-height">
        <dx-menu #menu [items]="menuItems" itemsExpr="items" displayExpr="label" [showFirstSubmenuMode]="true"
            orientation="horizontal" submenuDirection="auto" [hideSubmenuOnMouseLeave]="false"
            (onItemClick)="itemClick($event)">
        </dx-menu>

        <as-split direction="horizontal" style="margin-top: 20px; ">
            <as-split-area [size]="30">
                <dx-tab-panel class="h-100" itemTitleTemplate="title">
                    <dxi-item title="COMMON.LIVE_LOGS" icon="wave-pulse">
                        <div *dxTemplate>
                            <dx-list #logicPagesList [dataSource]="logFacilitiesArray"
                                [selectedItems]="[selectedFacility]" height="90%" selectionMode="single"
                                (onSelectionChanged)="onTabSelectionChanged($event)">
                                <div *dxTemplate="let page of 'item'">
                                    <span>{{page.name}}</span>
                                </div>
                            </dx-list>
                        </div>
                    </dxi-item>
                    <dxi-item title="COMMON.FILE_LOGS" icon="file">
                        <div *dxTemplate>
                            <dx-tree-list *ngIf="logFileTree" id="logFileTree" [dataSource]="logFileTree"
                                itemsExpr="children" dataStructure="tree" [showRowLines]="true" [showBorders]="true"
                                [columnAutoWidth]="true" [expandedRowKeys]="[1, 2]"
                                (onSelectionChanged)="onSelectionChanged($event)">
                                <dxi-column dataField="name" caption="Name"></dxi-column>

                                <dxo-selection mode="single"></dxo-selection>
                                <dxo-search-panel [visible]="true"></dxo-search-panel>
                            </dx-tree-list>
                        </div>
                    </dxi-item>
                    <div *dxTemplate="let item of 'title'">
                        <span title="{{item.title | translateAsync}}" class="nav-padding">
                            <fa-icon title="{{item.title | translateAsync}}" [fixedWidth]="true" [icon]="['fas', item.icon]">
                            </fa-icon>
                            {{ item.title | translate }}</span>

                    </div>

                </dx-tab-panel>
            </as-split-area>
            <as-split-area [size]="70">

                <dx-data-grid *ngIf="selectedFacility && selectedFacility.logs && selectedFacility.logs.length > 0"
                    [dataSource]="selectedFacility.logs" [allowColumnReordering]="true" [allowColumnResizing]="true"
                    [columnAutoWidth]="true" height="100%">
                    <dxi-column dataType="datetime" format="dd.MM.yyyy HH:mm:ss" sortOrder="desc" dataField="timestamp"
                        caption="{{ 'COMMON.TIMESTAMP' | translateAsync }}"></dxi-column>
                    <dxi-column sortOrder="desc" dataField="log"
                        caption="{{ 'COMMON.LOG' | translateAsync }}"></dxi-column>

                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-export [enabled]="true" [fileName]="selectedFacility.name"
                        [allowExportSelectedData]="true"></dxo-export>
                </dx-data-grid>
            </as-split-area>
        </as-split>
    </div>
</div>