<div class="content-block">
    <div class="dx-card wide-card panel-height">
        <dx-menu #menu [items]="menuItems" itemsExpr="items" displayExpr="label" [showFirstSubmenuMode]="true"
            orientation="horizontal" submenuDirection="auto" [hideSubmenuOnMouseLeave]="false"
            (onItemClick)="itemClick($event)">
        </dx-menu>

        <dx-tab-panel [dataSource]="logFacilitiesArray" [(selectedItem)]="selectedFacility" [loop]="false"
            [animationEnabled]="false" [swipeEnabled]="false" style="margin-top: 20px; height: 100%">
            <div *dxTemplate="let facility of 'title'">
                <span>{{facility.name}}</span>
            </div>
            <div *dxTemplate="let facility of 'item'">
                <div class="grid-container">
                    <dx-data-grid *ngIf="facility.logs && facility.logs.length > 0" [dataSource]="facility.logs"
                        [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                        height="100%">
                        <dxi-column dataType="datetime" format="dd.MM.yyyy HH:mm:ss" sortOrder="desc" dataField="timestamp"
                            caption="{{ 'COMMON.TIMESTAMP' | translateAsync }}"></dxi-column>
                        <dxi-column sortOrder="desc" dataField="log"
                            caption="{{ 'COMMON.LOG' | translateAsync }}"></dxi-column>

                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-export [enabled]="true" [fileName]="facility.name"
                            [allowExportSelectedData]="true"></dxo-export>
                    </dx-data-grid>
                </div>
            </div>
        </dx-tab-panel>
    </div>
</div>