<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <packageSources>
        <add key="Automatica.Core" value="https://www.myget.org/F/automaticacore/auth/4e17d9cf-5e70-49dc-a1d5-e32ffd18bf90/api/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>