@import "../../../../themes/generated/variables.base.dark.scss";


.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.login-form {
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
    }
  }

  ::ng-deep .form-text {
    margin: 10px 0;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  }
}
