@import "../../../../../themes/generated/variables.additional.scss"; 

.center {
    position: absolute;
    text-align: center;
    left: 30%;
    top: 30px;
}

.cell_text_hint {
    margin: 10px;
    font-size: 14px;
    color: white;
}
.cell_text_overflow {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .media_player_button {
    background: transparent; 
    border-color:transparent
  }

  .media_player_button_margin {
    margin-top: 5px;
  }

  .volume {
    margin-bottom: 5px;
  }