.center {
    position: absolute;
    text-align: center;
    left: 30%;
    top: 30px;
    // -moz-transform: translateX(-50%) translateY(-50%);
    // -webkit-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(-50%) translateY(-50%);
}

.cell_text_hint {
    font-size: 17px;
    margin: 10px;
    color: white;
}
.cell_text_overflow {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }