<app-visualization-control [hasPopup]="false" [showIcon]="false" [useFullContainer]="true" [width]="2" section_cell_class="section_cell section_cell_bg">
    <ng-container control_full>
        <div style="background-repeat: no-repeat; 
        
            background-size: 75%; 
            background-position: right; 
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #515159),url('{{albumArt}}'); 
            width: 100%; 
            height: 100%;">

            <!-- <dx-button text="prev"></dx-button>
        <dx-button text="play/pause"></dx-button>
        <dx-button text="next"></dx-button> -->
            <dx-responsive-box>

                <dxi-row [ratio]="0.1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="0.1"></dxi-row>
                <dxi-row [ratio]="0.1"></dxi-row>
                <dxi-row [ratio]="0.1"></dxi-row>

                <dxi-col [ratio]=".1"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>

                <dxi-item>
                    <dxi-location [row]="0" [col]="0" [colspan]="3"> </dxi-location>
                    <div *dxTemplate class="prev image ">
                        <div [hidden]="!location" class="cell_text_hint cell_text_overflow">{{ displayText }}</div>
                    </div>
                </dxi-item>

                <dxi-item>
                    <dxi-location [row]="1" [rowspan]="2" [col]="1" [colspan]="3"> </dxi-location>

                    <dx-responsive-box>
                        <dxi-row [ratio]="1"></dxi-row>
                        <dxi-row [ratio]="1"></dxi-row>
                        <dxi-row [ratio]="1"></dxi-row>


                        <dxi-item>
                            <dxi-location [row]="1" [col]="0"> </dxi-location>
                            <div *dxTemplate class="prev item">
                                {{title}}
                            </div>
                        </dxi-item>
                        <dxi-item>
                            <dxi-location [row]="2" [col]="0"> </dxi-location>
                            <div *dxTemplate class="prev item">
                                {{album}}
                            </div>
                        </dxi-item>
                        <dxi-item>
                            <dxi-location [row]="3" [col]="0"> </dxi-location>
                            <div *dxTemplate class="prev item">
                                {{creator}}
                            </div>
                        </dxi-item>
                    </dx-responsive-box>
                </dxi-item>

                <dxi-item>
                    <dxi-location [row]="3" [col]="1"> </dxi-location>

                    <dx-responsive-box>
                        <dxi-row [ratio]="1"></dxi-row>

                        <dxi-col [ratio]=".25"></dxi-col>
                        <dxi-col [ratio]=".25"></dxi-col>
                        <dxi-col [ratio]=".25"></dxi-col>

                        <dxi-item>
                            <dxi-location [row]="0" [col]="0"> </dxi-location>
                            <div *dxTemplate class="prev item">
                                <dx-button [template]="'buttonTemplate'" [disabled]="!prevOutput.IsLinked"  (onClick)="prevCick()"
                                    class="media_player_button media_player_button_margin">
                                    <div *dxTemplate="let buttonData of 'buttonTemplate'">
                                        <fa-icon size="2x" icon="backward" />
                                    </div>
                                </dx-button>
                            </div>
                        </dxi-item>

                        <dxi-item>
                            <dxi-location [row]="0" [col]="1">
                            </dxi-location>
                            <div *dxTemplate class="play item">
                                <dx-button [template]="'buttonTemplate'" *ngIf="!isPlaying" (onClick)="playPauseClick()"
                                    class="media_player_button">
                                    <div *dxTemplate="let buttonData of 'buttonTemplate'">
                                        <fa-icon size="3x" icon="play" />
                                    </div>
                                </dx-button>
                                <dx-button [template]="'buttonTemplate'" *ngIf="isPlaying" (onClick)="playPauseClick()"
                                    class="media_player_button">
                                    <div *dxTemplate="let buttonData of 'buttonTemplate'">
                                        <fa-icon size="3x" icon="pause" />
                                    </div>
                                </dx-button>
                            </div>
                        </dxi-item>

                        <dxi-item>
                            <dxi-location [row]="0" [col]="2"> </dxi-location>
                            <div *dxTemplate class="next item">
                                <dx-button [template]="'buttonTemplate'" [disabled]="!nextOutput.IsLinked" (onClick)="nextClick()"
                                    class="media_player_button media_player_button_margin">
                                    <div *dxTemplate="let buttonData of 'buttonTemplate'">
                                        <fa-icon size="2x" icon="forward" />
                                    </div>
                                </dx-button>
                            </div>
                        </dxi-item>

                    </dx-responsive-box>


                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="3" [col]="1">
                    </dxi-location>


                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="3" [col]="2"> </dxi-location>

                </dxi-item>

                <dxi-item>
                    <dxi-location [row]="4" [col]="0" [colspan]="4"></dxi-location>
                    <div *dxTemplate class="volume item">
                        <dx-slider style="margin-left: 10px; margin-right:10px" height="100%" [min]="0" [max]="100"
                            [(value)]="volume" [disabled]="!volumeOutput.IsLinked"
                            (onValueChanged)="onVolumeSliderChanged($event)" valueChangeMode="onHandleRelease">
                            <dxo-label [visible]="true" position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </dxi-item>
            </dx-responsive-box>
        </div>
    </ng-container>
    <div popup>
        <div style="padding-top: 20px">

        </div>

    </div>
</app-visualization-control>