.center {
    position: absolute;
    text-align: center;
    left: 30%;
    top: 10px;
    // -moz-transform: translateX(-50%) translateY(-50%);
    // -webkit-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(-50%) translateY(-50%);
}