<ng-content></ng-content>


<div class="menu-container">
    <dx-scroll-view height="100vh">
        <dx-tree-view expandEvent="click" [items]="items" (onInitialized)="onMenuInitialized($event)"
            (onItemClick)="onItemClick($event)" (onContentReady)="updateSelection($event)"
            (onSelectionChanged)="updateSelection($event)" [selectByClick]="true" selectionMode="single" keyExpr="path"
            [style.padding-bottom]="'120px'">
            <div *dxTemplate="let data of 'item'">

                <ng-container *ngIf="data.seperator">
                    <span title="{{data.text | translate}}">{{data.text | translate}}</span>
                </ng-container>

                <ng-container *ngIf="!data.seperator">
                    <fa-icon title="{{data.text | translate}}" [fixedWidth]="true" [icon]="['fas', data.icon]">
                    </fa-icon>
                    <span title="{{data.text | translate}}" class="nav-padding">{{data.text | translate}}</span>
                </ng-container>
            </div>
        </dx-tree-view>
    </dx-scroll-view>
</div>