@import "../../../../../themes/generated/variables.additional.scss"; 

:host {
    display: block;    
    user-select: none;
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.section_cell {
    width: 180px;
    height: 180px;
    border-radius: 2px;
    margin: 0 5px 5px 0;
    position: relative;
    background-color: $base-border-color;
}

.chart {
    z-index: 0; 
    position: absolute;
    margin-top: 150px;
}

.cell_content {
    z-index: 10;
    flex: 1;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;

    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 60px;
    min-width: 0;
}

.cell_icon_placeholder {
    max-height: 80px;
    max-width: 80px;
    position: absolute;
    margin: 20px;
}

.cell_texts {
   margin: 20px;
   color: white;
   font-size: 17px;
   margin-top: 80px;
   width: 160px;
}


.cell_text_overflow {    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell_text_hint {
    font-size: 17px;
    color: white;
}

.cell_text_location {
    font-size: 14px;
    color: #8393A3;
    max-width: 100%;
}

.cell_text_value {
    font-size: 13px;
    color: white;
}

.cell_text_sub {
    font-size: 17px;
    color: #8393A3;
    padding-top: 2px;
}

.cell_controls {
    position: absolute;
    padding-top: 10px;
    top: 0;
    right: 0;
    height: 110px;
    width: 65px;
    margin:auto;
}

::ng-deep .dx-popup-wrapper > .dx-overlay-content {
    border: 0px;
    border-radius: 0px;
}

::ng-deep dx-popup-wrapper {
    border: 0px;
    border-radius: 0px;
}

::ng-deep .dx-popup-title {
    color: white;
    background-color: #252529;
    border: 0px;
    border-radius: 0px;
}

::ng-deep .dx-popup-content {
    color: white;
    background-color: #252529;
    border: 0px;
    border-radius: 0px;
}

::ng-deep .dx-button-mode-contained .dx-icon {
    color: white;
}

::ng-deep .dx-popup-title.dx-toolbar .dx-toolbar-after {
    padding-right: 10px;
}

::ng-deep .dx-popup-title .dx-closebutton .dx-icon {
    font-size: 20px;
    padding: 5px;

    margin-top: 10px;
    margin-right: 10px;
}

::ng-deep .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-title .dx-toolbar-before {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    position: relative;
}

::ng-deep .dx-overlay-content.dx-popup-normal.dx-resizable.dx-state-focused {
    border: 0px;
}

.overlay {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    position: relative;
    max-width: 80%;
}

.overlay_value {
    padding-bottom: 20px;
    font-size: 21px;
    color: #8393A3;
}

.overlay_icon {
    padding-top: 20px;
    padding-bottom: 20px;
}

.overlay_location {
    padding: 18px 10px 10px;
    font-size: 21px;
    color: #fff;
}