p3-propertyeditor {
    height: 100%
}

.property-editor {
    padding-bottom:70px;
}

::ng-deep .dx-datagrid-table {
    
    // padding-bottom:20px;
    height: 100%;
}

::ng-deep .dx-datagrid-table-fixed {
    
    // padding-bottom:20px;
    height: 100%;
}

::ng-deep .dx-row.dx-freespace-row {
     display: none !important; 
}