p3-propertyeditor {
    height: 100%
}

.property-editor {
    padding-bottom:100px;
}

::ng-deep .dx-datagrid-table {
    
    padding-bottom:100px;
}

::ng-deep .dx-datagrid-table-fixed {
    
    padding-bottom:100px;
}