<div class="property-editor" style="height: 100%">
    <dx-data-grid #dataTable [twoWayBindingEnabled]="false" id="gridContainer" [dataSource]="Properties"
        [allowColumnReordering]="false" [height]="'100%'" (onFocusedCellChanging)="onFocusedCellChanging($event)">



        <dxi-column dataField="PropertyTemplate.GroupOrder" [calculateGroupValue]="groupName"
            caption="{{ 'COMMON.GROUP' | translateAsync }}" [groupIndex]="0" [allowSorting]="false"></dxi-column>
        <dxi-column caption="{{ 'COMMON.NAME' | translateAsync }}" [allowEditing]="false"
            [calculateCellValue]="translateName" [allowSorting]="false"></dxi-column>
        <dxi-column [showEditorAlways]="true" caption="{{ 'COMMON.VALUE' | translateAsync }}" dataField="Value"
            editCellTemplate="editTemplate" [allowSorting]="false">
        </dxi-column>

        <dxo-selection mode="none"></dxo-selection>
        <dxo-search-panel [visible]="false"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        <dxo-paging [pageSize]="32"> </dxo-paging>
        <dxo-scrolling [useNative]="false"></dxo-scrolling>

        <dxo-editing mode="cell" [allowUpdating]="true">
        </dxo-editing>

        <div *dxTemplate="let data of 'editTemplate'">
            <ng-container [ngSwitch]="data.data.PropertyType">
                <dx-check-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                    *ngSwitchCase="PropertyTemplateType.Bool" (onValueChanged)="valueChanged($event, data)"
                    [(value)]="data.data.Value" [readOnly]="data.data.IsReadonly"></dx-check-box>

                <dx-button #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                    *ngSwitchCase="PropertyTemplateType.Scan" width="100%"
                    text="{{ 'COMMON.PROPERTY.SCAN.NAME' | translateAsync:LANG }}"
                    (click)="onScanClick($event, data.data)">
                </dx-button>

                <ng-container *ngSwitchCase="PropertyTemplateType.ImportData">


                    <dx-button #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        text="{{ 'COMMON.PROPERTY.IMPORT.NAME' | translateAsync:LANG }}"
                        (click)="onImportOpen($event, data.data)"></dx-button>

                    <!-- <dx-file-uploader (onUploaded)="onFileUploaded($event, data.data)"
                        selectButtonText="{{ 'COMMON.SELECT_FILE' | translateAsync }}" labelText="" accept="*"
                        uploadUrl="/webapi/fileUpload" [uploadHeaders]="uploadHeader" uploadMode="useButtons">
                    </dx-file-uploader> -->
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Enum">
                    <dx-select-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [items]="data.data.PropertyTemplate.ExtendedType.items"
                        (onValueChanged)="valueChanged($event, data)" [readOnly]="data.data.IsReadonly"
                        displayExpr="name" valueExpr="id" [(value)]="data.data.Value" fieldTemplate="field">
                        <div *dxTemplate="let data of 'item'">
                            {{ data.name | translateAsync }}
                        </div>
                        <div *dxTemplate="let data of 'field'">
                            <div class="custom-item">
                                <dx-text-box *ngIf="data != null" class="product-name"
                                    [value]="data.name | translateAsync" [readOnly]="true"></dx-text-box>
                                <dx-text-box *ngIf="data == null" class="product-name" [readOnly]="true"></dx-text-box>
                            </div>
                        </div>
                    </dx-select-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.AreaIcon">
                    <dx-select-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [dataSource]="data.data.PropertyTemplate.ExtendedType.list"
                        (onValueChanged)="valueChanged($event, data)" [readOnly]="data.data.IsReadonly" valueExpr="key"
                        [(value)]="data.data.Value" fieldTemplate="field">
                        <div *dxTemplate="let data of 'item'">
                            <fa-icon [icon]="data.value"></fa-icon> {{ data.value }}
                        </div>
                        <div *dxTemplate="let data of 'field'">
                            <div class="custom-item">
                                <div *ngIf="data != null">
                                    <fa-icon [icon]="data.value"></fa-icon> {{ data.value }}
                                    <dx-text-box class="product-name" [readOnly]="true"></dx-text-box>
                                </div>

                                <dx-text-box *ngIf="data == null" class="product-name" [readOnly]="true"></dx-text-box>
                            </div>
                        </div>
                    </dx-select-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Range">
                    <dx-number-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [showSpinButtons]="true" [readOnly]="data.data.IsReadonly"
                        (onValueChanged)="valueChanged($event, data)" [(value)]="data.data.Value"
                        [min]="data.data.PropertyTemplate.ExtendedType.min"
                        [max]="data.data.PropertyTemplate.ExtendedType.max">
                    </dx-number-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Integer">
                    <dx-number-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [showSpinButtons]="true" [readOnly]="data.data.IsReadonly"
                        (onValueChanged)="valueChanged($event, data)" [(value)]="data.data.Value"></dx-number-box>
                </ng-container>
                <ng-container *ngSwitchCase="PropertyTemplateType.Numeric">
                    <dx-number-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [showSpinButtons]="true" [readOnly]="data.data.IsReadonly"
                        (onValueChanged)="valueChanged($event, data)" [(value)]="data.data.Value" step="0.1">
                    </dx-number-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.IP">
                    <dx-text-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [readOnly]="data.data.IsReadonly" [(value)]="data.data.Value"
                        (onValueChanged)="valueChanged($event, data)"></dx-text-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Color">
                    <dx-color-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [readOnly]="data.data.IsReadonly" [editAlphaChannel]="true" [(value)]="data.data.Value"
                        (onValueChanged)="valueChanged($event, data)"></dx-color-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.NodeInstance">
                    <node-value-selector #control [elementAttr]="{ uid: data.data.ObjId }"
                        id="control-{{data.data.ObjId}}" [(value)]="data.data.Value"
                        (openDialog)="openNodeSelectDialog($event, data.data)"
                        [readOnly]="data.data.IsReadonly"></node-value-selector>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.LearnMode">
                    <dx-button #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        width="100%" text="{{ 'COMMON.PROPERTY.LEARN.NAME' | translateAsync:LANG }}"
                        (click)="onLearnClick($event, data.data)"></dx-button>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.CustomAction">
                    <dx-button #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        width="100%" text="{{ data.data.PropertyTemplate.Name | translateAsync:LANG }}"
                        (click)="onCustomActionClick($event, data.data)"></dx-button>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.VisuPage">
                    <node-value-selector #control [elementAttr]="{ uid: data.data.ObjId }"
                        id="control-{{data.data.ObjId}}" [(value)]="data.data.Value"
                        (openDialog)="openVisuPageSelectDialog($event, data.data)" [readOnly]="data.data.IsReadonly">
                    </node-value-selector>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.AreaInstanceLink">
                    <dx-drop-down-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" [dataSource]="areaInstancesFlat" valueExpr="ObjId"
                        displayExpr="DisplayName" [showClearButton]="true"
                        (onValueChanged)="valueChanged($event, data)">

                        <div *dxTemplate="let datax of 'content'">
                            <dx-tree-view [dataSource]="areaInstances" expandedExpr="IsExpanded" keyExpr="ObjId"
                                itemsExpr="InverseThis2ParentNavigation" parentIdExpr="This2Parent"
                                selectionMode="single" displayExpr="Name" [selectByClick]="true"
                                (onContentReady)="$event.component.selectItem(treeBoxValue)"
                                (onItemSelectionChanged)="onAreaItemSelectionChanged($event, data)">
                            </dx-tree-view>
                        </div>
                    </dx-drop-down-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.AreaInstance">
                    <!--TODO: Placeholder-->
                    <dx-drop-down-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" [dataSource]="areaInstancesFlat" valueExpr="ObjId"
                        displayExpr="DisplayName" [showClearButton]="true"
                        (onValueChanged)="valueChanged($event, data)">

                        <div *dxTemplate="let datax of 'content'">
                            <dx-tree-view [dataSource]="areaInstances" height="200px" expandedExpr="IsExpanded"
                                keyExpr="ObjId" itemsExpr="InverseThis2ParentNavigation" parentIdExpr="This2Parent"
                                selectionMode="single" displayExpr="Name" [selectByClick]="true"
                                (onContentReady)="$event.component.selectItem(treeBoxValue)"
                                (onItemSelectionChanged)="onAreaItemSelectionChanged($event, data)">
                            </dx-tree-view>
                        </div>
                    </dx-drop-down-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.CategoryInstance">
                    <!--TODO: Placeholder-->
                    <dx-drop-down-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" valueExpr="ObjId" displayExpr="DisplayName" [showClearButton]="true"
                        [dataSource]="categoryInstances" (onValueChanged)="valueChanged($event, data)">

                        <div *dxTemplate="let datax of 'content'">
                            <dx-data-grid [dataSource]="categoryInstances" keyExpr="ObjId" [columns]="['DisplayName']"
                                [selection]="{ mode: 'single' }" [hoverStateEnabled]="true" [paging]="{ enabled: false}"
                                [filterRow]="{ visible: false }" [scrolling]="{ mode: 'infinite' }" [height]="265"
                                [(selectedRowKeys)]="data.data.categorySelectedKeys">
                            </dx-data-grid>
                        </div>
                    </dx-drop-down-box>
                </ng-container>
                <ng-container *ngSwitchCase="PropertyTemplateType.Text">
                    <dx-text-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" [maxLength]="data.data.PropertyTemplate.ExtendedType.length"
                        [readOnly]="data.data.IsReadonly" (onValueChanged)="valueChanged($event, data)"></dx-text-box>
                </ng-container>
                <ng-container *ngSwitchCase="PropertyTemplateType.DateTime">
                    <dx-date-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" [readOnly]="data.data.IsReadonly"
                        (onValueChanged)="valueChanged($event, data)" displayFormat="shortDateShortTime"></dx-date-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Password">
                    <dx-text-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        mode="password" [(value)]="data.data.Value"
                        [maxLength]="data.data.PropertyTemplate.ExtendedType.length" [readOnly]="data.data.IsReadonly"
                        (onValueChanged)="valueChanged($event, data)"></dx-text-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.User2Groups">
                    <dx-drop-down-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [value]="data.data.ValueIds" valueExpr="ObjId" displayExpr="Name"
                        [(opened)]="data.data.dropDownOpened" [showClearButton]="false" [dataSource]="userGroups">

                        <div *dxTemplate="let datax of 'content'">
                            <dx-data-grid [dataSource]="userGroups" keyExpr="ObjId" [selection]="{ mode: 'multiple' }"
                                [hoverStateEnabled]="true" [paging]="{ enabled: false}" [filterRow]="{ visible: false }"
                                [scrolling]="{ mode: 'infinite' }" [height]="265"
                                [(selectedRowKeys)]="data.data.ValueIds">
                                <dxi-column dataField="DisplayName"
                                    caption="{{ 'COMMON.NAME' | translateAsync }}"></dxi-column>
                                <dxi-column dataField="DisplayDescription"
                                    caption="{{ 'COMMON.DESCRIPTION' | translateAsync }}">
                                </dxi-column>
                            </dx-data-grid>
                        </div>
                    </dx-drop-down-box>
                </ng-container>
                <ng-container *ngSwitchCase="PropertyTemplateType.User2Roles">
                    <dx-drop-down-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [value]="data.data.ValueIds" valueExpr="ObjId" displayExpr="DisplayName"
                        [(opened)]="data.data.dropDownOpened" [showClearButton]="false" [dataSource]="roles">

                        <div *dxTemplate="let datax of 'content'">
                            <dx-data-grid [dataSource]="roles" keyExpr="ObjId" [selection]="{ mode: 'multiple' }"
                                [hoverStateEnabled]="true" [paging]="{ enabled: false}" [filterRow]="{ visible: false }"
                                [scrolling]="{ mode: 'infinite' }" [height]="265"
                                [(selectedRowKeys)]="data.data.ValueIds">
                                <dxi-column dataField="DisplayName"
                                    caption="{{ 'COMMON.NAME' | translateAsync }}"></dxi-column>
                                <dxi-column dataField="DisplayDescription"
                                    caption="{{ 'COMMON.DESCRIPTION' | translateAsync }}">
                                </dxi-column>
                            </dx-data-grid>
                        </div>
                    </dx-drop-down-box>
                </ng-container>


                <ng-container *ngSwitchCase="PropertyTemplateType.UserGroup">
                    <dx-select-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [dataSource]="userGroups" (onValueChanged)="valueChanged($event, data)"
                        [placeholder]="'USER_GROUPS.ALL' | translateAsync" [readOnly]="data.data.IsReadonly"
                        valueExpr="ObjId" [(value)]="data.data.Value" displayExpr="DisplayName"
                        [showClearButton]="true">
                    </dx-select-box>
                </ng-container>


                <ng-container *ngSwitchCase="PropertyTemplateType.Satellite">
                    <dx-select-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [dataSource]="satellites" (onValueChanged)="valueChanged($event, data)"
                        [placeholder]="'USER_GROUPS.ALL' | translateAsync" valueExpr="ObjId" [(value)]="data.data.Value"
                        displayExpr="DisplayName" [showClearButton]="false ">
                    </dx-select-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Timer">
                    <dx-button #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        width="100%" text="{{ 'COMMON.EDIT' | translateAsync }}"
                        (click)="onTimerEditClick($event, data.data)"></dx-button>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Calendar">
                    <dx-button #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        width="100%" text="{{ 'COMMON.EDIT' | translateAsync }}"
                        (click)="onCalendarEditClick($event, data.data)"></dx-button>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.Time">
                    <dx-date-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" type="time" [readOnly]="data.data.IsReadonly"
                        (onValueChanged)="valueChanged($event, data)">
                    </dx-date-box>
                </ng-container>

                <ng-container *ngSwitchCase="PropertyTemplateType.MultiSelect">
                    <dx-drop-down-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" valueExpr="Key" displayExpr="Value"
                        placeholder="{{ 'COMMON.EDIT' | translateAsync }}" [showClearButton]="true"
                        (onOptionChanged)="optionChanged($event, data)"
                        [dataSource]="data.data.PropertyTemplate.ExtendedType.items">
                        <div *dxTemplate="let dataGrid of 'content'">
                            <dx-data-grid [dataSource]="data.data.PropertyTemplate.ExtendedType.items"
                                [columns]="['Value']" [selection]="{ mode: 'multiple' }" [hoverStateEnabled]="true"
                                [height]="345" [(selectedRowKeys)]="data.data.Value">
                            </dx-data-grid>
                        </div>
                    </dx-drop-down-box>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <dx-text-box #control [elementAttr]="{ uid: data.data.ObjId }" id="control-{{data.data.ObjId}}"
                        [(value)]="data.data.Value" [readOnly]="data.data.IsReadonly"
                        (onValueChanged)="valueChanged($event, data)"></dx-text-box>
                </ng-container>
            </ng-container>
        </div>
    </dx-data-grid>
</div>

<dx-popup *ngIf="calendarEditPopupVisible" #calendarEditPopup width="80%" height="80%" [showTitle]="true"
    [title]="'COMMON.PROPERTY.CALENDAR.NAME' | translateAsync" [visible]="calendarEditPopupVisible"
    (onHiding)="onCalendarEditPopupClosing($event, true)">
    <dx-scheduler [dataSource]="calendarEditValue.Value" [views]="['day', 'week', 'month']" currentView="week"
        [currentDate]="currentDate" [startDayHour]="0" [height]="'100%'" textExpr="Text" startDateExpr="StartDate"
        endDateExpr="EndDate" allDayExpr="AllDay" recurrenceRuleExpr="RecurrenceRule" descriptionExpr="Description" 
        recurrenceExceptionExpr="RecurrenceException">
        <dxo-editing [allowAdding]="true" [allowDeleting]="true" [allowUpdating]="true" [allowResizing]="true"
            [allowDragging]="true"></dxo-editing>
    </dx-scheduler>
</dx-popup>

<dx-popup *ngIf="timerEditPopupVisible" #timerEditPopup width="400" height="500" [showTitle]="true"
    [title]="'COMMON.PROPERTY.TIMER.NAME' | translateAsync" [visible]="timerEditPopupVisible"
    (onHiding)="onTimerEditPopupClosing($event, false)">
    <div *dxTemplate="let data of 'content'">
        <div class="dx-fieldset">
            <div class="dx-fieldset-header" translate>COMMON.PROPERTY.TIMER.NAME</div>
            <div class="dx-field">
                <div class="dx-field-label" translate>COMMON.PROPERTY.TIMER.START_TIME</div>
                <div class="dx-field-value-static">
                    <dx-date-box [(value)]="timerEditValue.StartTime" type="time">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                message="{{ 'COMMON.REQUIRED' | translateAsync:{field: 'COMMON.START_DATETIME' | translateAsync } }}">
                            </dxi-validation-rule>
                            <dxi-validation-rule #startDateValidator type="custom" reevaluate="false"
                                [validationCallback]="validateDates"
                                [message]="'VALIDATION.TIME_START_BEFORE_END' | translateAsync"></dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label" translate>COMMON.PROPERTY.TIMER.END_TIME</div>
                <div class="dx-field-value-static">
                    <dx-date-box [(value)]="timerEditValue.StopTime" type="time">
                        <dx-validator>
                            <dxi-validation-rule type="required"
                                message="{{ 'COMMON.REQUIRED' | translateAsync:{field: 'COMMON.END_DATETIME' | translateAsync } }}">
                            </dxi-validation-rule>
                            <dxi-validation-rule #endDateValidator type="custom" reevaluate="false"
                                [validationCallback]="validateDates"
                                [message]="'VALIDATION.TIME_END_AFTER_START' | translateAsync"></dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </div>
            <ng-container *ngFor="let weekDay of timerEditValue.WeekDaysArray">
                <div class="dx-field">
                    <div class="dx-field-label" translate>COMMON.PROPERTY.TIMER.WEEKDAYS.{{weekDay.name}}</div>
                    <div class="dx-field-value-static">
                        <dx-check-box [(value)]="weekDay.checked"></dx-check-box>
                    </div>
                </div>
            </ng-container>
            <div class="dx-field">
                <div class="dx-field-value-static">
                    <dx-button [disabled]="timerSaveButtonDisabled" text="{{ 'COMMON.SAVE' | translateAsync }}"
                        (click)="onTimerEditPopupClosing($event, true)"></dx-button>
                </div>
            </div>
        </div>
    </div>
</dx-popup>

<dx-popup #popupNodeSelect [width]="'90%'" [height]="'90%'" [showTitle]="true"
    [title]="'COMMON.NODE_INSTANCE_SELECT' | translateAsync" [visible]="nodeSelectorVisible"
    (onHiding)="onNodeSelectClosing($event)">
    <div *dxTemplate="let data of 'content'">
        <dx-button [disabled]="!selectedNodeInstance" text="{{ 'COMMON.SELECT' | translateAsync }}"
            (click)="useSelectedNode($event)"></dx-button>
        <dx-scroll-view>
            <p3-config-tree style="display: block; height: 100%" [showLoadingPanel]="true" #configTree
                (onNodeSelect)="nodeSelect($event)"></p3-config-tree>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup #popupVisuPageSelect [width]="'90%'" [height]="'90%'" showCloseButton="false" [showTitle]="true"
    [title]="'COMMON.VISU_PAGE_SELECT' | translateAsync" [visible]="visuPageSelectorVisible"
    (onHiding)="onVisuPageSelectClosing($event)">
    <div *dxTemplate="let data of 'content'">
        <dx-button [disabled]="!selectedVisuPage" text="{{ 'COMMON.SELECT' | translateAsync }}"
            (click)="useSelectedVisuPage($event)"></dx-button>
        <dx-scroll-view>
            <visu-page-list *ngIf="visuPageSelectorVisible" (onItemSelected)="onVisuPageSelected($event)">
            </visu-page-list>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup #popupLearnMode [width]="'90%'" [height]="'90%'" showCloseButton="false" [showTitle]="true"
    [title]="'LEARN_MODE.NAME' | translateAsync" [visible]="learnModeVisible" (onHiding)="onLearnModeClosing($event)">
    <div *dxTemplate="let data of 'content'">
        <dx-button text="{{ 'COMMON.ADD' | translateAsync }}" (click)="saveLearnNodes($event)"></dx-button>
        <dx-scroll-view>
            <dx-data-grid keyExpr="key" [dataSource]="learnNodeInstance">

                <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                <dxo-paging [enabled]="false"></dxo-paging>

                <dxi-column dataField="name" caption="{{ 'COMMON.NAME' | translateAsync }}">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="description" caption="{{ 'COMMON.DESCRIPTION' | translateAsync }}"></dxi-column>
                <dxi-column [showEditorAlways]="true" dataField="nodeTemplate"
                    caption="{{ 'COMMON.TEMPLATE' | translateAsync }}" editCellTemplate="nodeTemplateEditCell">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>

                <div *dxTemplate="let data of 'nodeTemplateEditCell'">

                    <dx-drop-down-box [value]="data.data.nodeTemplate" valueExpr="ObjId" displayExpr="DisplayName"
                        placeholder="Select a value..." [dataSource]="data.data.dataSource"
                        (onValueChanged)="nodeTemplateSelectItemSync($event)"
                        (onOptionChanged)="nodeTemplateBoxOptionChanged($event)">
                        <dxo-drop-down-options height="300px"></dxo-drop-down-options>
                        <div *dxTemplate="let contet of 'content'">
                            <dx-tree-view [dataSource]="data.data.nodeTemplates" dataStructure="plain" keyExpr="Id"
                                parentIdExpr="ParentId" selectionMode="single" displayExpr="DisplayName"
                                [selectByClick]="true"
                                (onItemSelectionChanged)="nodeTemplateSelectItem($event, data.data)"
                                (onContentReady)="$event.component.selectItem(data.data.nodeTemplate)">

                            </dx-tree-view>
                        </div>
                    </dx-drop-down-box>
                </div>
            </dx-data-grid>
        </dx-scroll-view>
    </div>
</dx-popup>

<node-instance-import #nodeInstanceImport (fileUploaded)="fileUploaded"></node-instance-import>