@import "../../../../themes/generated/variables.base.dark.scss";

:host {
  display: block;
  color: rgba($base-accent, alpha($base-accent) * 0.7);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 24px;
}
