<dx-circular-gauge id="gauge" [value]="ref. value" #gauge>

    <dxo-scale [startValue]="scaleStart" [endValue]="scaleEnd" [tickInterval]="tickInterval">
        <dxo-label [customizeText]="customizeText"></dxo-label>
    </dxo-scale>
    
    <!-- <dxo-range-container palette="pastel">
        <dxi-range [startValue]="50" [endValue]="90"></dxi-range>
        <dxi-range [startValue]="90" [endValue]="130"></dxi-range>
        <dxi-range [startValue]="130" [endValue]="150"></dxi-range>
    </dxo-range-container> -->
    
    <dxo-title [text]="ref.displayText">
        <dxo-font [size]="ref.fontSize"></dxo-font>
    </dxo-title>

    <dxo-size [height]="ref.actualHeight" [width]="ref.actualWidth">
    </dxo-size>

</dx-circular-gauge>