<div [style.color]="foregroundColor" [style.font-size]="getFontSize()" class="visu-mobile-content" [style.background]="getPropertyValue('background_color')">

  <dx-box direction="row" width="100%" height="100%" *ngIf="getPropertyValue('text_break')">
    <dxi-item ratio="1">
      <dx-box direction="col" width="100%" height="100%">
        <dxi-item [ratio]="1">
          <ng-container [ngTemplateOutlet]="dxLabelOutlet"></ng-container>
        </dxi-item>
        <dxi-item [ratio]="1">
          <div style="left: 50%;margin-right:-50%;position:absolute;margin-left:-22px;">
            <ng-container [ngTemplateOutlet]="dxSwitchOutlet"></ng-container>
          </div>
        </dxi-item>
      </dx-box>
    </dxi-item>
  </dx-box>

  <dx-box direction="col" width="100%" height="100%" *ngIf="!getPropertyValue('text_break')">
    <dxi-item ratio="1">

    </dxi-item>
    <dxi-item ratio="1">
      <dx-box direction="row" width="100%" height="100%">
        <dxi-item [ratio]="1">
          <ng-container [ngTemplateOutlet]="dxLabelOutlet"></ng-container>
        </dxi-item>
        <dxi-item [ratio]="1">
          <div style="margin-top:12px">
            <ng-container [ngTemplateOutlet]="dxSwitchOutlet"></ng-container>
          </div>
        </dxi-item>
      </dx-box>
    </dxi-item>
    <dxi-item ratio="1">

    </dxi-item>
  </dx-box>


</div>


<ng-template #dxSwitchOutlet>
  <dx-switch [value]="toggleValue" [switchedOnText]="toggle_on_text" [switchedOffText]="toggle_off_text" (onValueChanged)="onToggleValueChanged($event)"></dx-switch>
</ng-template>

<ng-template #dxLabelOutlet>
  <div style="font-size: 2vw;">
    <p [style.color]="foregroundColor" [style.font-size]="getFontSize()">{{ displayText }}{{ getPropertyValue("unit") }}</p>
  </div>
</ng-template>