<div class="control-center">
    <div class="clock">
        <div class="clock__second" #second></div>
        <div class="clock__minute" #minute></div>
        <div class="clock__hour" #hour></div>
        <div class="clock__axis"></div>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
    </div>
</div>