<div class="content-block">
    <div class="dx-card">
        <div class="card-header">
            Automatica.Core (Version {{ version.Version }})
        </div>
        <div class="card-block">
            <div class="row" class="panel-height">
                <span>
                    Welcome to Automatica.Core. Yet another building automation server.
                    <br />
                    <br /> For more information visit
                    <a [routerLink]="" (click)="infoPageOnClick($event)">Automatica.Core</a>

                </span>
            </div>
        </div>

    </div>
</div>