<div class="content-block">
    <div class="dx-card wide-card panel-height">
        <as-split direction="horizontal">
            <as-split-area [size]="30">
                <p3-propertyeditor [item]="selectedNode" [roles]="roles" (onChanged)="onChanged($event)"></p3-propertyeditor>
            </as-split-area>
            <as-split-area [size]="70">
                <div style="padding-bottom: 100px;">
                    <dx-data-grid #grid [dataSource]="groups" keyExpr="ObjId" (onRowClick)="onRowClicked($event)"
                        (onRowRemoving)="onRowRemoving($event)" 
                        (onRowInserting)="onRowInserting($event)" (onInitNewRow)="onInitNewRow($event)"
                        (onInitialized)="onInitialized($event)">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="true" [allowAdding]="true">
                            <dxo-texts saveRowChanges="{{ 'COMMON.ADD' | translateAsync }}"
                                deleteRow="{{ 'COMMON.DELETE' | translateAsync }}"
                                cancelRowChanges="{{ 'COMMON.CANCEL' | translateAsync }}"></dxo-texts>
                        </dxo-editing>
                        <dxo-selection mode="single"></dxo-selection>

                        <dxi-column dataField="Name" caption="{{ 'COMMON.NAME' | translateAsync }}"></dxi-column>
                        <dxi-column dataField="Description" caption="{{ 'COMMON.DESCRIPTION' | translateAsync }}">
                        </dxi-column>

                    </dx-data-grid>
                </div>
            </as-split-area>
        </as-split>
    </div>
</div>