<div class="content-block">
    <div class="dx-card wide-card panel-height">
        <p3-config-menu *ngIf="ruleTemplates" #configMenu (onRestart)="restart($event)" (onDelete)="delete($event)"
            [showRuleMenu]="true" [ruleTemplates]="ruleTemplates" (onAddRule)="addRule($event)"
            (onAddRulePage)="addRulePage($event)" (onRemoveRulePage)="removeRulePage($event)"
            (onImportData)="onImportData($event)" [(selectedItem)]="selectedItem" (onZoomIn)="onZoomIn($event)"
            (onZoomOut)="onZoomOut($event)" (onZoomToView)="onZoomToView($event)" [isLoading]="isLoading">
        </p3-config-menu>

        <as-split direction="horizontal">
            <as-split-area [size]="20">
                <p3-propertyeditor #propertyEditor (validate)="validate($event)" (scan)="scan($event)"
                    (fileUploaded)="fileUploaded($event)" [userGroups]="userGroups" [item]="selectedItem"
                    [areaInstances]="areaInstances" [categoryInstances]="categoryInstances"
                    (saveLearnedNodes)="saveLearnedNodes($event)" (unselectItem)="unselectItem()" [isLoading]="isLoading"></p3-propertyeditor>
            </as-split-area>
            <as-split-area [size]="20">

                <dx-tab-panel class="h-100" itemTitleTemplate="title">
                    <dxi-item title="COMMON.CONFIGURATION" icon="cogs">
                        <div *dxTemplate>
                            <p3-config-tree class="h-100" #configTree (onNodeSelect)="nodeSelect($event)"
                                [isLoading]="isLoading" [loadLogicNodeInstances]="true">
                            </p3-config-tree>
                        </div>
                    </dxi-item>
                    <dxi-item title="COMMON.LOGIC_PAGES" icon="play">
                        <div *dxTemplate>
                            <dx-list #logicPagesList [dataSource]="pagesDataSource" [selectedItems]="[selectedPage]"
                                height="90%" selectionMode="single"
                                (onSelectionChanged)="onTabSelectionChanged($event)">
                                <div *dxTemplate="let page of 'item'">
                                    <span>{{page.Name}}</span>
                                </div>
                            </dx-list>
                        </div>
                    </dxi-item>
                    <div *dxTemplate="let item of 'title'">
                        <span title="{{item.title | translateAsync}}" class="nav-padding">
                            <fa-icon title="{{item.title | translateAsync}}" [fixedWidth]="true" [icon]="item.icon">
                            </fa-icon>
                            {{ item.title | translate }}</span>

                    </div>
                </dx-tab-panel>

            </as-split-area>
            <as-split-area [size]="60">
                <div class="logic-tab-panel">
                    <ng-container *ngFor="let page of pages;">
                        <dx-scroll-view *ngIf="selectedPage.ObjId == page.ObjId" #scrollView id="scrollview"
                            [scrollByContent]="false" [scrollByThumb]="false" showScrollbar="always"
                            scrollDirection="both" [bounceEnabled]="false" [useNative]="true">

                            <p3-ruleeditor style="display:inline-block" (selectedItemsChanged)="onSelectedItemsChanged($event)" (removeSelectedItem)="removeSelectedItem($event)" [page]="page"
                                id="{{page.ObjId}}" name="{{page.Name}}" [isLoading]="isLoading"></p3-ruleeditor>
                        </dx-scroll-view>
                    </ng-container>
                </div>
            </as-split-area>

        </as-split>
    </div>
</div>



<dx-popup #infoPopup [width]="'300px'" [height]="'300px'" [showTitle]="true" [hideOnOutsideClick]="true"
    [title]="'COMMON.INFO' | translateAsync" [(visible)]="infoPopupVisible" (onHiding)="onPopupHiding($event)">
    <div *dxTemplate="let data of 'content'">
        TODO!
    </div>
</dx-popup>