<div class="config-tree h-100">


    <dx-context-menu #contextMenu target="#config" activeStateEnabled="false" hideOnOutsideClick="true"
        onHiding="onContextMenuHiding($event)" (onItemClick)="onContextMenuClick($event)">
    </dx-context-menu>

    <dx-tree-list height="100%" #tree itemsExpr="Children" id="config"
        [dataSource]="nodeInstanceService.nodeInstanceList" keyExpr="Id" parentIdExpr="ParentId" [showRowLines]="true"
        [columnAutoWidth]="true" [expandedRowKeys]="expandedRowKeys"
        (onContextMenuPreparing)="onContextMenuPreparing($event)" [showColumnLines]="false"
        [selectedRowKeys]="selectedRowKeys" (onRowClick)="onRowClicked($event)">
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="DisplayName" cellTemplate="cellTemplate"></dxi-column>
        <dxi-column dataField="Value" dataType="string" cellTemplate="valueTemplate"></dxi-column>
        <dxo-state-storing [enabled]="true" type="localStorage" storageKey="automaticaConfigTree"></dxo-state-storing>

        <div id="{{ data.data.Id }}" *dxTemplate="let data of 'cellTemplate'" cellTemplate="cellTemplate">
            <div dnd-draggable [dragEnabled]="true" [dragData]="data.data">
                <div id="{{ data.data.Id }}" dnd-droppable [allowDrop]="allowDrop(data.data)"
                    (onDropSuccess)="dropSuccess($event, data.data)">
                    <fa-icon [icon]="['fas', 'exclamation']" *ngIf="!data.data.ValidationOk"></fa-icon>

                    <span id="{{ data.data.Id }}">
                        <ng-container *ngIf="data.data.IsAnyDisabled">
                            <span class="node-instance-disabled">
                                <span>(</span><span translate>COMMON.PROPERTY.ISDISABLED.NAME</span><span>) </span>
                            </span>
                        </ng-container>
                        <ng-container
                            *ngIf="data.data.State == NodeInstanceState.UnknownError || data.data.State == NodeInstanceState.Unknown">
                            <span class="node-instance-error" id="unknown_error_id-{{data.data.Id}}">
                                <span>(</span><span translate>COMMON.NODEINSTANCE.STATE.UNKNOWN.NAME</span><span>
                                    <fa-icon icon="question" style="margin-left: 5px; margin-right: 2px;"></fa-icon>)
                                </span>
                            </span>

                            <dx-popover target="#unknown_error_id-{{data.data.Id}}" showEvent="click"
                                hideEvent="mouseleave" position="top" [shading]="true" shadingColor="rgba(0, 0, 0, 0.5)"
                                [width]="300">
                                <div *dxTemplate="let data = model; of: 'content'">
                                    <span translate>COMMON.NODEINSTANCE.STATE.UNKNOWN.DESCRIPTION</span>
                                </div>
                            </dx-popover>
                        </ng-container>
                        <ng-container *ngIf="data.data.State == NodeInstanceState.OutOfDataPoints">
                            <span class="node-instance-error" id="unknown_error_id-{{data.data.Id}}">
                                <span>(</span><span translate>COMMON.NODEINSTANCE.STATE.OUTOFLICENSE.NAME</span><span>
                                    <fa-icon icon="question" style="margin-left: 5px; margin-right: 2px;"></fa-icon>)
                                </span>
                            </span>
                            <dx-popover target="#unknown_error_id-{{data.data.Id}}" showEvent="click"
                                hideEvent="mouseleave" position="top" [shading]="true" shadingColor="rgba(0, 0, 0, 0.5)"
                                [width]="300">
                                <div *dxTemplate="let data = model; of: 'content'">
                                    <span translate>COMMON.NODEINSTANCE.STATE.OUTOFLICENSE.DESCRIPTION</span>
                                </div>
                            </dx-popover>
                        </ng-container>

                        <ng-container *ngIf="data.data.State == NodeInstanceState.OutOfSatelliteLicenses">
                            <span class="node-instance-error" id="unknown_error_id-{{data.data.Id}}">
                                <span>(</span><span
                                    translate>COMMON.NODEINSTANCE.STATE.OUT_OF_SATELLITE_LICENSES.NAME</span><span>
                                    <fa-icon icon="question" style="margin-left: 5px; margin-right: 2px;"></fa-icon>)
                                </span>
                            </span>
                            <dx-popover target="#unknown_error_id-{{data.data.Id}}" showEvent="click"
                                hideEvent="mouseleave" position="top" [shading]="true" shadingColor="rgba(0, 0, 0, 0.5)"
                                [width]="300">
                                <div *dxTemplate="let data = model; of: 'content'">
                                    <span
                                        translate>COMMON.NODEINSTANCE.STATE.OUT_OF_SATELLITE_LICENSES.DESCRIPTION</span>
                                </div>
                            </dx-popover>
                        </ng-container>

                        <ng-container *ngIf="data.data.State == NodeInstanceState.Unloaded">
                            <span class="node-instance-error" id="unknown_error_id-{{data.data.Id}}">
                                <span>(</span><span translate>COMMON.NODEINSTANCE.STATE.UNLOADED.NAME</span><span>
                                    <fa-icon icon="question"></fa-icon>) </span>
                            </span>
                            <dx-popover target="#unknown_error_id-{{data.data.Id}}" showEvent="click"
                                hideEvent="mouseleave" position="top" [shading]="true" shadingColor="rgba(0, 0, 0, 0.5)"
                                [width]="300">
                                <div *dxTemplate="let data = model; of: 'content'">
                                    <span translate>COMMON.NODEINSTANCE.STATE.UNLOADED.DESCRIPTION</span>
                                </div>
                            </dx-popover>
                        </ng-container>
                        <ng-container>
                            {{data.value}}
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>

        <div *dxTemplate="let data of 'valueTemplate'" cellTemplate="valueTemplate">
            <div dnd-draggable [dragEnabled]="true" [dragData]="data.data">
                <div dnd-droppable [allowDrop]="allowDrop(data.data)" (onDropSuccess)="dropSuccess($event, data.data)">
                    <ng-container *ngIf="!data.data.IsAnyDisabled">
                        <ng-container *ngIf="data.data.NodeTemplate && data.data.NodeTemplate.This2NodeDataType == NodeDataTypeEnum.WindowState; else default">
                            <span id="{{ data.data.Id }}">{{WindowState[data.value]}}</span>
                        </ng-container>
                        <ng-template #default>
                            <span id="{{ data.data.Id }}">{{data.value}}</span>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
    </dx-tree-list>
</div>
<!-- <dx-load-panel #loadPanel *ngIf="showLoadingPanel" shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#main' }"
    [(visible)]="isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [hideOnOutsideClick]="false">
</dx-load-panel> -->