<div class="config-tree h-100">


    <dx-context-menu #contextMenu target="#config" activeStateEnabled="false" closeOnOutsideClick="true"
        onHiding="onContextMenuHiding($event)" (onItemClick)="onContextMenuClick($event)">
    </dx-context-menu>

    <dx-tree-list height="100%" #tree itemsExpr="Children" id="config"
        [dataSource]="nodeInstanceService.nodeInstanceList" keyExpr="Id" parentIdExpr="ParentId" [showRowLines]="true"
        [columnAutoWidth]="true" [expandedRowKeys]="expandedRowKeys"
        (onContextMenuPreparing)="onContextMenuPreparing($event)" [showColumnLines]="false"
        [selectedRowKeys]="selectedRowKeys" (onRowClick)="onRowClicked($event)">
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="DisplayName" cellTemplate="cellTemplate"></dxi-column>
        <dxi-column dataField="Value" dataType="string" cellTemplate="valueTemplate"></dxi-column>
        <dxo-state-storing [enabled]="true" type="localStorage" storageKey="automaticaConfigTree"></dxo-state-storing>

        <div id="{{ data.data.Id }}" *dxTemplate="let data of 'cellTemplate'" cellTemplate="cellTemplate">
            <div dnd-draggable [dragEnabled]="true" [dragData]="data.data">
                <div id="{{ data.data.Id }}" dnd-droppable [allowDrop]="allowDrop(data.data)"
                    (onDropSuccess)="dropSuccess($event, data.data)">
                    <fa-icon [icon]="['fas', 'exclamation']" *ngIf="!data.data.ValidationOk"></fa-icon>

                    <span id="{{ data.data.Id }}">
                        {{data.value}}
                    </span>
                </div>
            </div>
        </div>

        <div *dxTemplate="let data of 'valueTemplate'" cellTemplate="valueTemplate">
            <div dnd-draggable [dragEnabled]="true" [dragData]="data.data">
                <div dnd-droppable [allowDrop]="allowDrop(data.data)" (onDropSuccess)="dropSuccess($event, data.data)">
                    <span id="{{ data.data.Id }}">{{data.value}}</span>
                </div>
            </div>
        </div>
    </dx-tree-list>
</div>
<!-- <dx-load-panel #loadPanel *ngIf="showLoadingPanel" shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#main' }"
    [(visible)]="isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel> -->