<div id="my-rule-loadingPanel" #loadingPangel class="h-100">
        <div id="ruleEditorWrapper-{{page.ObjId}}" class="h-100">
                <div class="h-100" id="ruleditor-{{ page.ObjId }}" dnd-droppable [allowDrop]="allowDrop()"
                        (onDropSuccess)="dropSuccess($event)" style="height: 200vh; width: 200vh; border:1px solid black; z-index: 10">
                </div>
        </div>
</div>

<!-- <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'my-rule-loadingPanel' }"
        [visible]="isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel> -->