<div id="my-rule-loadingPanel">
        <div id="ruleEditorWrapper-{{page.ObjId}}">
                <div id="ruleditor-{{ page.ObjId }}" dnd-droppable [allowDrop]="allowDrop()"
                        (onDropSuccess)="dropSuccess($event)" style="height:650px; border:1px solid black; z-index: 10"> </div>
        </div>
</div>

<!-- <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'my-rule-loadingPanel' }"
        [visible]="isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel> -->