<div class="block" id="my-rule-loadingPanel" #loadingPangel>
        <div class="block" id="ruleEditorWrapper-{{page.ObjId}}">
                <div id="ruleditor-{{ page.ObjId }}" dnd-droppable [allowDrop]="allowDrop()"
                        (onDropSuccess)="dropSuccess($event)"
                        style="height: 400vh; width: 400vw; border:1px solid black; z-index: 10">
                </div>
        </div>
</div>


<!-- <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: 'my-rule-loadingPanel' }"
        [visible]="isLoading" [showIndicator]="true" [showPane]="true" [shading]="true" [hideOnOutsideClick]="false">
</dx-load-panel> -->