:host {
    display: inline-block;   
}

.block {
    display: inline-block;
}

::ng-deep .tooltip {
	position: absolute;
	background: #EEEEEE;
	padding:10px;

    font-size: 12px;
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;

    color: #4a4a4a;
}

::ng-deep .invert_tooltip {
	position: absolute;
	background: transparent;
	padding:10px;

    color: #4a4a4a;
    pointer-events: none;
    
}