.git
README.md
**/node_modules
/automatica.build
**/bin
**/obj
/images

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

.vs/
*/.vs/
.vs/**/*

/src/automatica.core/Automatica.WebNew/node_modules
/src/automatica.core/Automatica.Web/node_modules

# To prevent storing dev/temporary container data
*.csv
/tmp/*