$base-font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
$base-accent: #457987;
$base-label-color: #000000de;
$base-link-color: #457987;
$base-icon-color: #000000de;
$base-text-color: #000000de;
$base-bg: #ffffff;
$base-border-color: #e0e0e0;
$base-border-radius: 4px;
$base-success: #5cb85c;
$base-warning: #f0ad4e;
$base-danger: #d9534f;
$base-hover-color: #000000de;
$base-hover-bg: #0000000a;
$base-focus-color: #ffffff;
$base-focus-bg: #457987;
$base-invalid-color: #d9534f;
$base-invalid-faded-border-color: #d9534f66;
$base-border-radius-small: 3px;
$base-border-radius-large: 6px;
$button-normal-color: #000000de;
$button-normal-bg: #ffffff;
$button-normal-border-color: #e0e0e0;
$button-default-color: #ffffff;
$button-default-bg: #457987;
$button-default-border-color: #3c6a76;
$button-danger-color: #ffffff;
$button-danger-bg: #d9534f;
$button-danger-border-color: #d43f3a;
$button-success-color: #ffffff;
$button-success-bg: #5cb85c;
$button-success-border-color: #4cae4c;
$list-border-color: #e0e0e0;
$list-group-color: #000000de;
$list-group-header-bg: #eeeeee0d;
$list-normal-color: #000000de;
$list-item-hover-bg: #0000000a;
$list-item-selected-bg: #0000001a;
$list-item-focused-selected-bg: #457987b3;
$list-focused-bg: #457987;
$list-item-active-bg: #457987;
$fieldset-field-label-color: #000000de;
$checkbox-border-color: #e0e0e0;
$checkbox-focused-borderd-color: #457987;
$checkbox-bg: #ffffff;
$checkbox-hover-border-color: #30555f;
$checkbox-active-icon-bg: #60606033;
$button-group-normal-selected-color: #000000de;
$button-group-normal-selected-bg: #0000002b;
$button-group-default-selected-color: #457987;
$button-group-default-selected-bg: #4579874d;
$button-group-danger-selected-color: #d9534f;
$button-group-danger-selected-bg: #d9534f4d;
$button-group-success-selected-color: #5cb85c;
$button-group-success-selected-bg: #5cb85c4d;
$scrollable-scroll-bg: #bfbfbfb3;
$scrollable-scrollbar-active-bg: #bfbfbf33;
$switch-border-color: #e0e0e0;
$switch-on-color: #000000de;
$switch-container-active-bg: #60606033;
$switch-off-color: #666666de;
$tabs-tab-color: #000000de;
$tabs-tab-selected-color: #000000de;
$tabs-tab-bg: #f7f7f7;
$tabs-tab-selected-bg: #ffffff;
$tabs-border-color: #e0e0e0;
$tabs-focused-border-color: #457987;
$tabs-tab-hover-bg: #ffffff;
$badge-color: #ffffff;
$badge-bg: #457987;
$overlay-content-bg: #ffffff;
$overlay-shader-bg: #ffffffcc;
$overlay-focus-border-color: #e0e0e0;
$textbox-search-icon-color: #666666de;
$texteditor-color: #000000de;
$texteditor-placeholder-color: #666666de;
$texteditor-bg: #ffffff;
$texteditor-filled-bg: #0000000d;
$texteditor-border-color: #e0e0e0;
$texteditor-focused-border-color: #457987;
$texteditor-hover-border-color: #45798766;
$dropdowneditor-button-hover-bg: #e6e6e6;
$dropdowneditor-button-active-bg: #b3b3b3;
$dropdowneditor-icon-color: #000000de;
$dropdowneditor-icon-active-color: #000000de;
$numberbox-spin-active-bg: #b3b3b3;
$numberbox-spin-hover-border-color: transparent;
$numberbox-spin-icon-color: #000000de;
$calendar-color: #000000de;
$calendar-header-color: #000000de;
$calendar-cell-other-color: #00000061;
$calendar-bg: #ffffff;
$calendar-hover-bg: #4579873d;
$calendar-cell-selected-bg: #457987;
$calendar-cell-active-bg: #45798766;
$loadindicator-bg: #2d2d2dde;
$treeview-focused-bg: #457987;
$treeview-hover-bg: #0000000a;
$treeview-border-color: #e0e0e0;
$treeview-item-selected-color: #000000de;
$treeview-spin-icon-color: #000000de;
$menu-popup-bg: #ffffff;
$menu-item-hover-bg: #0000000a;
$menu-color: #000000de;
$menu-item-hovered-color: #000000de;
$menu-item-expanded-color: #000000de;
$menu-item-selected-bg: #e6e6e6;
$menu-popup-border-color: #e0e0e0;
$selectbox-list-bg: #ffffff;
$toolbar-bg: #ffffff;
$popup-title-bg: transparent;
$tileview-color: #000000de;
$toast-color: #ffffff;
$toast-info-bg: #457987;
$toast-warning-bg: #f0ad4e;
$toast-error-bg: #d9534f;
$toast-success-bg: #5cb85c;
$progressbar-bg: #dddddd;
$progressbar-range-bg: #457987;
$tooltip-color: #000000de;
$tooltip-bg: #ffffff;
$tooltip-border-color: #e0e0e0;
$slider-bar-bg: #e0e0e0;
$slider-range-bg: #457987;
$gallery-indicator-bg: #ffffff;
$gallery-indicator-item-selected-bg: #457987;
$gallery-indicator-focused-bg: #2b4c54;
$gallery-navbutton-hover-color: #45798780;
$gallery-nav-arrow-color: #ffffff;
$gallery-navbutton-active-color: #457987b3;
$loadpanel-content-bg: #ffffff;
$tagbox-tag-color: #000000de;
$tagbox-tag-bg: #dddddd;
$tagbox-tag-button-remove-bg: #aaaaaa;
$radiogroup-checked-bg: #457987;
$radiobutton-active-bg: #60606033;
$accordion-color: #000000de;
$accordion-title-color: #000000de;
$accordion-item-title-opened-bg: transparent;
$accordion-item-border-color: #e0e0e0;
$accordion-item-focused-border-color: #457987;
$accordion-title-active-color: #000000de;
$accordion-item-hover-bg: #0000000a;
$accordion-icon-active-color: #000000de;
$colorbox-overlay-bg: #ffffff;
$datagrid-base-color: #000000de;
$datagrid-base-background-color: #ffffff;
$datagrid-border-color: #e0e0e0;
$datagrid-columnchooser-item-color: #626262de;
$datagrid-columnchooser-font-weight: normal;
$datagrid-drag-header-border-color: #45798780;
$datagrid-selection-bg: #e6e6e6;
$datagrid-row-selected-border-color: #e0e0e0;
$datagrid-row-selected-color: #000000de;
$datagrid-row-focused-color: #ffffff;
$datagrid-row-focused-bg: #6a949f;
$datagrid-hover-bg: #0000000a;
$datagrid-menu-icon-color: #565656de;
$datagrid-cell-modified-border-color: #5cb85c80;
$datagrid-row-invalid-faded-border-color: #d9534f66;
$datagrid-nodata-color: #666666de;
$datagrid-group-row-color: #626262de;
$datagrid-group-row-bg: #f7f7f7;
$datagrid-search-color: #ffffff;
$datagrid-spin-icon-color: #626262de;
$datagrid-search-bg: #457987;
$datagrid-row-error-color: #ffffff;
$datagrid-row-error-bg: #e89895;
$datagrid-link-color: #457987;
$datagrid-focused-border-color: #6a949f;
$datagrid-editor-bg: #ffffff;
$datagrid-columnchooser-bg: #ffffff;
$datagrid-row-alternation-bg: #f5f5f5;
$datagrid-summary-color: #000000b3;
$pager-page-selected-color: #000000de;
$pager-page-selected-bg: #d4d4d4;
$pivotgrid-area-color: #626262de;
$pivotgrid-totalcolor: #dddddd33;
$pivotgrid-grandtotalcolor: #f5f5f5;
$pivotgrid-field-area-text-color: #1f1f1fde;
$pivotgrid-spin-icon-color: #626262de;
$fileuploader-filename-color: #000000de;
$fileuploader-falename-status-color: #666666de;
$fileuploader-border-color: #e0e0e0;
$scheduler-base-border-color: #e0e0e099;
$scheduler-accent-border-color: #c7c7c7;
$scheduler-appointment-text-color: #ffffff;
$scheduler-appointment-base-color: #457987;
$scheduler-appointment-start-color: #0000004d;
$scheduler-first-month-border-color: #adadad;
$scheduler-workspace-focused-cell-color: #cce0e5;
$scheduler-current-time-cell-color: #457987;
$scheduler-time-indicator-color: #67a2b1;
$form-field-item-color: #000000de;
$form-group-border-color: #e0e0e0;
$filterbuilder-text-color: #000000de;
$filterbuilder-text-focus-color: #ffffff;
$filterbuilder-plus-icon-color: #5cb85c4d;
$filterbuilder-remove-icon-color: #d9534f4d;
$filterbuilder-group-operation-color: #d9534f4d;
$filterbuilder-item-field-color: #4579874d;
$filterbuilder-item-operator-color: #5cb85c4d;
$filterbuilder-item-value-color: #e0e0e080;
$filterbuilder-menu-icon-color: #565656de;
$drawer-shader-background-color: #00000080;
