<ng-container *ngIf="version"><a href="https://www.automaticacore.com" target="_blank">Automatica.Core</a> | <a href="https://www.github.com/automatica-core/automatica" target="_blank">Automatica.Core @ GitHub</a> &copy; 2017-{{ currentYear }} p3root
    (Version {{ version.Version
    }}) <a href="https://docu.automaticacore.com" target="_blank">Documentation</a>.
    <span class="float-right">Powered by
        <a href="https://www.p3.co.at" target="_blank">p3root</a>
    </span>
</ng-container>