<ng-container *ngIf="version"><a class="a2" href="https://www.automaticacore.com" target="_blank">Automatica.Core</a> |
    <a class="a2" href="https://www.github.com/automatica-core/automatica" target="_blank">Automatica.Core @ GitHub</a>
    &copy; 2017-{{ currentYear }} p3root
    (Version {{ version.Version
    }}) <a class="a2" href="https://docu.automaticacore.com" target="_blank">Documentation</a>.
    <span class="float-right">Powered by
        <a class="a2" href="https://www.p3.co.at" target="_blank">p3root</a>
    </span>
</ng-container>