:host {
    display: block;
    width: 100%;
}

.switch-button {
    width: 100%;
    height: 55px;
}

::ng-deep .dx-button{
    border-radius: 0px;
    border-width: 0px;

    background-color: #8393A3;
    color: white;
}

::ng-deep .dx-button-text {
    font-size: 17px;
    color: #fff;
}

::ng-deep .switch-button.dx-button.dx-button-normal.dx-button-mode-contained.dx-widget.dx-button-has-text.dx-state-hover {
    background-color: #8393A3;
    color: white;
}