<ng-container *ngIf="nodeProperty && nodeProperty.Value">
  <dx-chart id="chart" title="{{ getPropertyValue('text') }}" [dataSource]="chartDataSource" #chart>
    <dxo-zoom-and-pan valueAxis="both" argumentAxis="both" [dragToZoom]="false" [allowMouseWheel]="true" panKey="shift">
    </dxo-zoom-and-pan>
    <dxo-adaptive-layout [width]="chartWidth" [height]="chartHeight" keepLabels="true"></dxo-adaptive-layout>
    <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
    <dxo-argument-axis argumentType="datetime" [visualRangeUpdateMode]="keep" [(visualRange)]="currentVisualRange"
      [wholeRange]="bounds">
    </dxo-argument-axis>
    <dxi-value-axis name="value" [allowDecimals]="false">
      <dxo-title text="Value">
        <dxo-font color="#ff950c"></dxo-font>
      </dxo-title>
      <dxo-label>
        <dxo-font color="#ff950c"></dxo-font>
      </dxo-label>
    </dxi-value-axis>
    <dxi-series color="#ff950c" type="line" argumentField="TimestampIso" valueField="Value" name="Value">
      <dxo-aggregation [enabled]="true">
      </dxo-aggregation>
    </dxi-series>
    <dxo-animation [enabled]="false"></dxo-animation>
    <dxo-loading-indicator backgroundColor="none">
      <dxo-font [size]="14"></dxo-font>
    </dxo-loading-indicator>
    <dxo-legend [visible]="false"></dxo-legend>
  </dx-chart>
</ng-container>