<h2 class="content-block">Home</h2>
<div class="content-block">

  <dx-form id="form" [formData]="status" *ngIf="status">
    <dxi-item itemType="group">
      <dxi-item itemType="group">
        <dxi-item dataField="connected" editorType="dxCheckBox" [editorOptions]="{readOnly: true}"></dxi-item>
        <dxi-item dataField="containerStarted" editorType="dxCheckBox" [editorOptions]="{readOnly: true}"></dxi-item>

        <dxi-item *ngIf="status.runningImages">
          <ng-container *ngFor="let item of status.runningImages; let i = index">

            <dx-form id="innerForm-{{i}}" [formData]="item">
              <dxi-item itemType="group" caption="Container {{i+1}}">
                <dxi-item itemType="group">
                  <dxi-item dataField="dockerId" [editorOptions]="{readOnly: true}"></dxi-item>
                  <dxi-item dataField="image" [editorOptions]="{readOnly: true}"></dxi-item>
                  <dxi-item dataField="requestId" [editorOptions]="{readOnly: true}"></dxi-item>
                </dxi-item>
              </dxi-item>
            </dx-form>
          </ng-container>
        </dxi-item>

      </dxi-item>
    </dxi-item>


  </dx-form>

</div>