:host {
    display: block;
    width: 100%;
}

.slider {
    width: 100%;
    height: 57px;
}

::ng-deep .slider .dx-trackbar-container.dx-slider-bar {
    height: 55px;
}

::ng-deep .slider .dx-widget .dx-slider-handle {
    height: 55px;
    margin-top: -2px;
    border-radius: 0px;
    width: 20px;
}

::ng-deep .slider .dx-trackbar-range .dx-slider-range .dx-slider-range-visible {
    border-radius: 0px;
    height: 53px;
}

::ng-deep .slider .dx-slider-range {
    height: 53px;
}

::ng-deep .slider .dx-slider-handle {
    height: 70px;
}